<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliorcohen123456.locationprojectroom">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.eliorcohen123456.locationprojectroom.MainAndOtherPackage.NearByApplication"
        android:allowBackup="true"
        android:icon="@drawable/mapsicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mapsicon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.eliorcohen123456.locationprojectroom.MainAndOtherPackage.MainActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.AddPlaceFavorites" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.ActivityFavorites" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MainAndOtherPackage.SettingsActivity" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.DeletePlace" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.DeleteAllDataHistory" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.DeleteAllDataFavorites" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.EditPlace" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MainAndOtherPackage.Credits" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.AddMarkerFavorites" />
        <activity android:name="com.eliorcohen123456.locationprojectroom.MapsDataPackage.PlaceCustomActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_map" />

        <service android:name=".MainAndOtherPackage.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".GeofencePackage.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".GeofencePackage.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".MainAndOtherPackage.GoogleService"
            android:exported="true" />
    </application>

</manifest>