<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliorcohen12345.locationproject">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="com.eliorcohen12345.locationproject.OthersPackage.NearByApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/mapsicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/mapsicon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.eliorcohen12345.locationproject.PagesPackage.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.AddPlaceFavorites" />
        <activity
            android:name="com.eliorcohen12345.locationproject.PagesPackage.ActivityFavorites"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.SettingsActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.DeletePlaceActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.DeleteAllDataHistoryActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.DeleteAllDataFavoritesActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.EditPlaceActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.CreditsActivity" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.AddMarkerFavorites" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.PlaceCustomActivity" />
        <activity
            android:name="com.eliorcohen12345.locationproject.PagesPackage.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.eliorcohen12345.locationproject.PagesPackage.ChatActivity" />
        <activity
            android:name="com.eliorcohen12345.locationproject.PagesPackage.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.eliorcohen12345.locationproject.PagesPackage.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_map" />

        <service android:name="com.eliorcohen12345.locationproject.OthersPackage.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".OthersPackage.GeofencePackage.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".OthersPackage.GeofencePackage.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.eliorcohen12345.locationproject.OthersPackage.GoogleService"
            android:exported="true" />
    </application>

</manifest>